<div class="row">
	<div class="col-lg-12 col-xs-12" id="portada">
		<div class="row">
			<div class="visible-md visible-lg visible-sm hidden-xs" id="saludo">
				<p class="strong">ÚLTIMOS TIPS</p>
				<p class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 ">
						<button class="btn btn-mas">+Leer más</button>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-xs-12" id="who">
		<p class="title">QUIENES SOMOS</p>

		<div class="col-lg-10 col-lg-offset-1">
			<p class="light">
			Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca chuchada al chancho achoclonar. Chorrocientos pituto ubicatex huevo duro bolsero cachureo el hoyo del queque en cana huevón el año del loly hacerla corta impeque de miedo quilterry la raja longi ñecla. Hilo curado rayuela carrete quina guagua lorea piola ni ahí
			</p>
		</div>
	</div>
</div>


<div class="row" id="service_anchor">
	<div class="col-lg-12 col-xs-12">
		<p class="title">SERVICIOS</p>

	</div>
    <div class="col-lg-12" id="servicios">
        <a href="/service/kine/">
            <div class="col-lg-4 background" id="kine">
                <div class="overlay">
                    <p class="title">Kinesiología</p>
                </div>
            </div>
        </a>
        <a href="/service/masaje/">
            <div class="col-lg-4 background" id="masaje">
                <div class="overlay">
                    <p class="title">Masajes</p>
                </div>
            </div>
        </a>
        <a href="/service/fisico/">
            <div class="col-lg-4 background" id="fisico">
                <div class="overlay">
                    <p class="title">actividad fisica y salud</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
	<div class="col-lg-12 col-xs-12" id="promociones">
		<p class="title">PROMOCIONES</p>

		<div class="col-lg-3 col-lg-offset-2">

            <%= image_tag 'img_promo.png', size:"240x240" %>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-7">
                    <p class="title light no-margin-bottom align-left">Batidos Proteicos</p>
                    <p class="title subtitle no-margin-top no-margin-bottom align-left">50% descuento</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <p class="content light no-margin-bottom">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca.
                    </p>
                </div>
            </div>

        </div>
	</div>
</div>


<div class="row">
    <div class="col-lg-12 col-xs-12" id="tips">
        <p class="title">Algunos tips</p>

        <div class="row" id="first-tips">
            <a href="#">
                <div class="col-lg-5 col-lg-offset-1">
                    <div class="col-lg-6">
                        <a href="/tips/1">
                        <%= image_tag 'img_tip-1.png', size:"200x200" %>
                        </a>
                    </div>
                    <article class="col-lg-6">
                        <div class="row">
                            <p class="title tiny align-left no-margin-bottom">
                                <a href="/tips/1">
                                Chorrocientos pituto ubicatex huevo duro bolsero cachureo
                                </a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="light align-left no-margin-top">
                                Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga...
                            </p>
                        </div>

                    </article>

                </div>
            </a>
            <div class="col-lg-5">
                <div class="col-lg-6">
                    <%= image_tag 'img_tip-2.png', size:"200x200" %>
                </div>
                <article class="col-lg-6">
                    <div class="row">
                        <p class="title tiny align-left no-margin-bottom">
                            Chorrocientos pituto ubicatex huevo duro bolsero cachureo
                        </p>
                    </div>
                    <div class="row">
                        <p class="light align-left no-margin-top">
                            Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga...
                        </p>
                    </div>

                </article>
            </div>
        </div>

        <div class="row" id="second-tips">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="col-lg-6">
                    <%= image_tag 'img_tip-3.png', size:"200x200" %>
                </div>
                <article class="col-lg-6">
                    <div class="row">
                        <p class="title tiny align-left no-margin-bottom">
                            Chorrocientos pituto ubicatex huevo duro bolsero cachureo
                        </p>
                    </div>
                    <div class="row">
                        <p class="light align-left no-margin-top">
                            Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga...
                        </p>
                    </div>

                </article>

            </div>
            <div class="col-lg-5">
                <div class="col-lg-6">
                    <%= image_tag 'img_tip-4.png', size:"200x200" %>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <p class="title tiny align-left no-margin-bottom">
                            Chorrocientos pituto ubicatex huevo duro bolsero cachureo
                        </p>
                    </div>
                    <div class="row">
                        <p class="light align-left no-margin-top">
                            Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga...
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <button class="btn btn-mas pull-right">+LEER MÁS TIPS</button>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-xs-12" id="contacto">
        <p class="title">contacto</p>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" nameemail" idemail">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Mensaje" name="msg" id="msg" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <button  type="submit" class="btn btn-mas">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript_extra do %>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.9&sensor=false"></script>
<% end %>
