<div class="row">
    <div class="col-lg-12 col-xs-12" id="portada">
        <div class="row">
            <% if(not @last_tip.nil?) %>
            <div class="visible-md visible-lg visible-sm hidden-xs" id="saludo">
                <p class="strong">ÚLTIMOS TIPS</p>
                <p class="light">
                   <%= truncate(raw(@last_tip.texto),:length => 1200,:omision => '...',:escape => false   ) %>
                </p>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 ">
                        <a href="<%= tip_url(@last_tip) %>" class="btn btn-mas">+Leer más</a>

                    </div>
                </div>

            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12" id="who">
        <p class="title">QUIENES SOMOS</p>

        <div class="col-lg-10 col-lg-offset-1">
            <p class="light">
            Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca chuchada al chancho achoclonar. Chorrocientos pituto ubicatex huevo duro bolsero cachureo el hoyo del queque en cana huevón el año del loly hacerla corta impeque de miedo quilterry la raja longi ñecla. Hilo curado rayuela carrete quina guagua lorea piola ni ahí
            </p>
        </div>
    </div>
</div>


<div class="row" id="service_anchor">
    <div class="col-lg-12 col-xs-12">
        <p class="title">SERVICIOS</p>

    </div>
    <div class="col-lg-12" id="servicios">
        <a href="/service/kine/">
            <div class="col-lg-4 background" id="kine">
                <div class="overlay">
                    <p class="title">Kinesiología</p>
                </div>
            </div>
        </a>
        <a href="/service/masaje/">
            <div class="col-lg-4 background" id="masaje">
                <div class="overlay">
                    <p class="title">Masajes</p>
                </div>
            </div>
        </a>
        <a href="/service/fisico/">
            <div class="col-lg-4 background" id="fisico">
                <div class="overlay">
                    <p class="title">actividad fisica y salud</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12" id="promociones">
        <p class="title">PROMOCIONES</p>
        <% if(not @promociones.nil?) %>
        <div class="carousel slide" id="carousel-promo" data-ride="carousel">
            <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-promo" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-promo" data-slide-to="1"></li>
                <li data-target="#carousel-promo" data-slide-to="2"></li>
                <li data-target="#carousel-promo" data-slide-to="3"></li>
              </ol>

              <div class="carousel-inner">
                <% @promociones.each_with_index do |p,idx| %>
                    <% if (idx==0) %>
                    <div class="item active">
                    <% else %>
                    <div class="item">
                    <% end %>
                        <div class="col-lg-3 col-lg-offset-2">

                            <a href="/store">
                                <%= image_tag p.imagen.url(:small), size:"240x240" %>
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-7">
                                    <p class="title light no-margin-bottom align-left">
                                        <a href="/store">
                                            <%= p.nombre %>
                                        </a>
                                    </p>
                                    <p class="title subtitle no-margin-top no-margin-bottom align-left"><%= p.descuento %>% descuento</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 content light no-margin-bottom">

                                    <%= raw(p.descripcion) %>


                                </div>
                            </div>

                        </div>
                    </div>
                <% end %>

            </div>


        </div>
        <% end %>

    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-xs-12" id="tips">
        <p class="title">ALGUNOS TIPS</p>
        <% @tips.each_slice(2) do |slice| %>
            <div class="row" id="first-tips">
            <% slice.each_with_index do |item,idx| %>
                <% if(idx==0) %>
                <div class="col-lg-5 col-lg-offset-1">
                <% else %>
                <div class="col-lg-5">
                <% end %>
                    <div class="col-lg-6">
                        <a href="<%= tip_url(item) %>">
                        <%= image_tag item.portada.url(:small), size:"200x200" %>
                        </a>
                    </div>
                    <article class="col-lg-6">
                        <div class="row">
                            <p class="title tiny align-left no-margin-bottom">
                                <a href="<%= tip_url(item) %>">
                                <%= item.titulo %>
                                </a>
                            </p>
                        </div>
                        <div class="row">
                            <p class="light align-left no-margin-top">
                                <%= truncate(item.texto,:length => 2000,:omision => '...',:escape => false) %>
                            </p>
                        </div>

                    </article>

                </div>
            <% end %>
            </div>
        <% end %>


        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <a href="/tips" class="btn btn-mas pull-right">+LEER MÁS TIPS</a>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-xs-12" id="contacto">
        <p class="title">CONTACTO</p>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <%= form_for @message do |f| %>
                    <div class="form-group">
                        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombre' %>
                    </div>
                    <div class="form-group">
                        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
                    </div>
                    <div class="form-group">
                        <%= f.text_area :content, :class => 'form-control', :placeholder => 'Mensaje', :rows => 6 %>
                    </div>
                    <div style="display: none;visibility:hidden">
                        <%= f.text_field :nickname %>
                      </div>
                    <div class="form-group">
                        <button  type="submit" class="btn btn-mas">Enviar</button>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-5">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>


