<div class="row" id="portada-team">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">equipo</p>
    </div>
    <div class="col-lg-12 col-xs-12 foto">

    </div>
</div>

<div class="row" id="team">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 images">
                    <%= image_tag  'img_equipo-3.jpg' %>
                    <p class="title">José Lara</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
                <div class="col-lg-3 images">
                    <%= image_tag  'img_equipo-2.jpg' %>
                    <p class="title">Juan Soto</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
                <div class="col-lg-3 images">
                    <%= image_tag  'img_equipo-1.jpg' %>
                    <p class="title">María Osses</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
            </div>

             <div class="row">
                <div class="col-lg-3 col-lg-offset-1 images">
                    <%= image_tag  'img_equipo-3.jpg' %>
                    <p class="title">José Lara</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
                <div class="col-lg-3 images">
                    <%= image_tag  'img_equipo-2.jpg' %>
                    <p class="title">Juan Soto</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
                <div class="col-lg-3 images">
                    <%= image_tag  'img_equipo-1.jpg' %>
                    <p class="title">María Osses</p>
                    <p class="light">
                        Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row" id="team_bottom">
    <div class="container">
        <div class="col-lg-1 col-lg-offset-5">
            <center>
                <a href="/"><%= image_tag 'btn_home.png' %></a>
            </center>
        </div>
    </div>
</div>
