<%= render "portada" %>
<div class="row">
    <div class="container">
        <div class="col-lg-12 col-xs-12" id="service-type">
            <p class="title">Servicios ofrecidos</p>


            <!-- <div class="col-lg-10 col-lg-offset-1">
                <p class="light">
                    Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca chuchada al chancho achoclonar. Chorrocientos pituto ubicatex huevo duro bolsero cachureo el hoyo del queque en cana huevón el año del loly hacerla corta
                </p>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="container">

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-7.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Entrenamiento personalizado</p>
                <p class="subtitle">Mejora tu capacidad física bajo supervisión.</p>
                <p class="light">
                    Entrena y mejora tu capacidad física realizando ejercicios preparados a tu medida bajo una supervisión directa y constante.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-1.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Evaluación física y de composición corporal</p>
                <p class="subtitle">SUBTITULO??.</p>
                <p class="light">
                    Evaluamos tu condición física para generar un plan deportivo especializado a tus necesidades.
                </p>
            </div>
        </div>

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-6.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Prevención de riesgo cardiovasculares</p>
                <p class="subtitle">Hipertensión, diabetes, obesidad, sendentarismo...</p>
                <p class="light">
                    Ayudamos a la prevensión de riesgo cardiovascular gracias a nuestros planes de entrenamiento orientados a mejorar tu calidad de vida.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-2.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Deporte post trauma</p>
                <p class="subtitle">Para nuestros pacientes traumatológicos.</p>
                <p class="light">
                    Entregamos un plan deportivo específico para retomar el deporte después de una lesión.
                </p>
            </div>
        </div>

        
    </div>

</div>


<div class="row" id="service_bottom">
    <div class="container">
        <div class="col-lg-4 col-lg-offset-1 left">
            <p class="title">
                <a href="/service/masaje/">Masaje</a>
            </p>
        </div>
        <div class="col-lg-1 center">
            <center>
                <a href="/"><%= image_tag 'btn_home.png' %></a>
            </center>
        </div>
        <div class="col-lg-5 right">
            <p class="title ">
                <a href="/service/kine">Kinesiología</a>
            </p>
        </div>
    </div>
</div>
