<%= render "portada" %>
<div class="row">
    <div class="col-lg-12 col-xs-12" id="service-type">
        <p class="title">¿Qué tipo de servicio ofrecemos?</p>


        <div class="col-lg-10 col-lg-offset-1">
            <p class="light">
                Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca chuchada al chancho achoclonar. Chorrocientos pituto ubicatex huevo duro bolsero cachureo el hoyo del queque en cana huevón el año del loly hacerla corta
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12" id="service-images">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-7.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje descontracturante</p>
                <p class="subtitle">Alivia dolores musculares, elimina la tensión y el estrés.</p>
                <p class="light">
                    Son las manipulaciones realizadas sobre uno o varios grupos musculares contracturados con la finalidad de lograr relajar el músculo y aliviar los dolores.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-1.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje con piedras calientes</p>
                <p class="subtitle">Relaja, estimular la circulación, revitaliza, descontractura.</p>
                <p class="light">
                    Es una terapia oriental milenaria que cuenta con muchos beneficios tanta para nuestra salud física y psíquica.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-7.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje descontracturante</p>
                <p class="subtitle">Alivia dolores musculares, elimina la tensión y el estrés.</p>
                <p class="light">
                    Son las manipulaciones realizadas sobre uno o varios grupos musculares contracturados con la finalidad de lograr relajar el músculo y aliviar los dolores.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-1.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje con piedras calientes</p>
                <p class="subtitle">Relaja, estimular la circulación, revitaliza, descontractura.</p>
                <p class="light">
                    Es una terapia oriental milenaria que cuenta con muchos beneficios tanta para nuestra salud física y psíquica.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-7.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje descontracturante</p>
                <p class="subtitle">Alivia dolores musculares, elimina la tensión y el estrés.</p>
                <p class="light">
                    Son las manipulaciones realizadas sobre uno o varios grupos musculares contracturados con la finalidad de lograr relajar el músculo y aliviar los dolores.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-1.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje con piedras calientes</p>
                <p class="subtitle">Relaja, estimular la circulación, revitaliza, descontractura.</p>
                <p class="light">
                    Es una terapia oriental milenaria que cuenta con muchos beneficios tanta para nuestra salud física y psíquica.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'img_servicio-7.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje descontracturante</p>
                <p class="subtitle">Alivia dolores musculares, elimina la tensión y el estrés.</p>
                <p class="light">
                    Son las manipulaciones realizadas sobre uno o varios grupos musculares contracturados con la finalidad de lograr relajar el músculo y aliviar los dolores.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'img_servicio-1.jpg', size:"460x220",:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Masaje con piedras calientes</p>
                <p class="subtitle">Relaja, estimular la circulación, revitaliza, descontractura.</p>
                <p class="light">
                    Es una terapia oriental milenaria que cuenta con muchos beneficios tanta para nuestra salud física y psíquica.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row" id="service_bottom">
    <div class="col-lg-4 col-lg-offset-1 left">
        <p class="title">
            <a href="/service/masaje/">Masaje</a>
        </p>
    </div>
    <div class="col-lg-1 center">
        <center>
            <a href="#portada-servicios"><%= image_tag 'btn_home.png' %></a>
        </center>
    </div>
    <div class="col-lg-5 right">
        <p class="title ">
            <a href="/service/kine">Kinesiología</a>
        </p>
    </div>
</div>
