<%= render "portada" %>
<% cache do %>
<div class="row">
    <div class="col-lg-12 col-xs-12" id="service-type">
        <p class="title">Servicios ofrecidos</p>


        <!-- <div class="col-lg-10 col-lg-offset-1">
            <p class="light">
                Lorem ipsum dolor sit cuchuflí barquillo bacán jote gamba listeilor po cahuín, luca melón con vino pichanga coscacho ni ahí peinar la muñeca chuchada al chancho achoclonar. Chorrocientos pituto ubicatex huevo duro bolsero cachureo el hoyo del queque en cana huevón el año del loly hacerla corta
            </p>
        </div> -->
    </div>
</div>

<div class="row">
    <div class="container">

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'kine/evaluacion.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Evaluación Kinésica</p>
                <p class="subtitle">Revisión del estado del paciente</p>
                <p class="light">
                    Contamos con diferentes tipos de evaluaciones kinésicas, que nos permite obtener información relevante sobre la condición física en la que se encuentra el paciente.
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'kine/rehabilitacion-operados.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Rehabilitación de pacientes pre y post operados</p>
                <p class="subtitle">Tratamiento para pacientes traumatológicos</p>
                <p class="light">
                    Realizamos el proceso de rehabilitación desde el momento previo a cirugías programadas y ayudamos a resolver todas las problemáticas post quirúrgicas (control de edema, disminución del dolor, aumento del rango articular, reactivación muscular y trabajo de la fuerza)
                </p>
            </div>
        </div>

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'kine/tobillo.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Patologías de rodilla, hombro, cadera, tobillo y columna</p>
                <p class="subtitle">Especialistas en lesiones articulares</p>
                <p class="light">
                    Somos especialistas en problemáticas de rodilla, hombro cadera, tobillo y columna, realizamos tratamientos orientados a cada zona en específico, controlando la patología presente.

                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'kine/vendajes.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Colocación de vendajes neuromusculares y funcionales</p>
                <p class="subtitle"></p>
                <p class="light">
                    El vendaje neuromuscular basa sus efectos positivos en la combinación de una venda específica y la técnica de colocación. La aplicación de la venda tiene siempre unas pautas fijas, cuyo respeto va a mejorar los efectos y duración del vendaje neuromuscular.
                </p>
            </div>
        </div>

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'kine/rehabilitacion-deportiva.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Reintegro deportivo</p>
                <p class="subtitle">Para pacientes deportistas en todos los niveles</p>
                <p class="light">
                    Realizamos el proceso de reintegración a la actividad deportiva. Nos ocupamos de entregar el tratamiento adecuado para permitir al paciente retornar a su actividad en un 100% de sus capacidades..
                </p>
            </div>
            <div class="col-lg-5 images">
                <%= image_tag 'kine/mulligan.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Reeducación postural</p>
                <p class="subtitle">Terapia Manual Ortopédica Concepto Mulligan</p>
                <p class="light">
                     Terapia que se basa en la utilización de movilizaciones pasivas, generalmente acompañadas por un movimiento activo del paciente generando efectos inmediatos en el paciente por la corrección del mal posicionamiento articular.
                </p>
            </div>
        </div>

        <div class="row service-images">
            <div class="col-lg-5 col-lg-offset-1 images">
                <%= image_tag 'kine/domiciliaria.jpg',:class =>'img-responsive' %>
                <p class="title no-margin-bottom">Atención Domiciliaria de pacientes</p>
                <p class="subtitle"></p>
                <p class="light">
                    Atención kinésica en domicilio de pacientes adultos y niños en el área traumatológica llevando nuestra experiencia a su hogar.
                </p>
            </div>
            <div class="col-lg-5 images">
                
            </div>
        </div>

        
    </div>

</div>

<div class="row" id="convenios">
    <div class="col-lg-12 col-xs-12">
        <p class="title">convenios</p>
        <div class="col-lg-9 col-lg-offset-2 col-xs-12 col-sm-12">
            <%= image_tag 'logos-convenios.jpg', :class => 'img-responsive' %>
        </div>
        <!-- <div class="col-lg-2 col-lg-offset-2 visible-lg visible-md">
            <a href="">
                <%= image_tag 'img_convenio-4.jpg' %>
            </a>
        </div>
        <div class="col-lg-2 visible-lg visible-md">
            <a href="">
                <%= image_tag 'img_convenio-1.jpg' %>
            </a>
        </div>
        <div class="col-lg-3 visible-lg visible-md">
            <a href="">
                <%= image_tag 'img_convenio-2.jpg' %>
            </a>
        </div>
        <div class="col-lg-2 visible-lg visible-md">
            <a href="">
                <%= image_tag 'img_convenio-3.jpg' %>
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
            <center>
            <a href="">
                <%= image_tag 'img_convenio-4.jpg' %>
            </a>
            </center>
        </div>
        <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
            <center>
            <a href="">
                <%= image_tag 'img_convenio-1.jpg' %>
            </a>
            </center>
        </div>
        <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
            <center>
            <a href="">
                <%= image_tag 'img_convenio-2.jpg' %>
            </a>
            </center>
        </div>
        <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
            <center>
            <a href="">
                <%= image_tag 'img_convenio-3.jpg' %>
            </a>
            </center>
        </div> -->

    </div>
</div>
<div class="row visible-lg visible-md" id="service_bottom">
    <div class="col-lg-4 col-lg-offset-1 left">
        <p class="title">
            <a href="/service/masaje/">Masaje</a>
        </p>
    </div>
    <div class="col-lg-1 center">
        <center>
            <a href="/"><%= image_tag 'btn_home.png' %></a>
        </center>
    </div>
    <div class="col-lg-5 right">
        <p class="title ">
            <a href="/service/fisico">Actividad Física</a>
        </p>
    </div>
</div>
<% end %>
