<div class="row" id="portada-tips">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Tips y Consejos</p>
    </div>

</div>


<div class="row" id="tips-list">
    <div class="container">
        <div class="col-lg-12">
            <% @tips.each_slice(2) do |slice| %>
                <div class="row">
                <% slice.each_with_index do |item,idx| %>
                    <% if(idx == 0) %>
                    <div class="col-lg-4 col-lg-offset-2 images">
                    <% else %>
                    <div class="col-lg-4 images">
                    <% end %>
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="<%= tip_url(item) %>">
                                    <%= image_tag item.portada.url(:small), size:"200x200", class:"left" %>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12 no-margin-bottom"><p class="day"><%= item.created_at.strftime('%d') %></p></div>
                                <div class="col-lg-12 no-margin-top"><p class="month"><%= item.created_at.strftime('%B') %></p></div>
                                <div class="col-lg-12">
                                    <a href="http://www.facebook.com/sharer.php?s=100&p[title]=<%=item.titulo%>&p[url]=<%=tip_url(item)%>&p[images][0]=<%="http://#{request.host}:#{request.port}#{item.portada.url(:large)}"%>" target="_blank">
                                        <div class="share fb"></div>
                                    </a>
                                    <a href="http://pinterest.com/pin/create/button/?url=<%= tip_url(item) %>&media=<%="http://#{request.host}:#{request.port}#{item.portada.url(:large)}"%>" target="_blank">
                                        <div class="share pn"></div>
                                    </a>
                                    <a href="https://twitter.com/share?url=<%=tip_url(item)%>&text=Nuevo en Viverelajacion: <%=item.titulo%>&hashtags=Viverelajacion"  target="_blank">
                                        <div class="share tw"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="title">
                                <a href="<%= tip_url(item) %>"><%= item.titulo %></a>
                            </p>
                            <div class="light">
                                <%= raw(HTML_Truncator.truncate(item.texto, 20)) %>
                            </div>
                        </div>
                    </div>
                <% end -%>
                </div>
            <% end -%>



        </div>
    </div>

</div>




<div class="row" id="team_bottom">
    <div class="container">
        <div class="col-lg-12">
            <center>
                <a href="/"><%= image_tag 'btn_home.png' %></a>
            </center>
        </div>
    </div>

</div>
