
<div class="row" id="portada-store">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Store</p>
    </div>

</div>


<div class="row" id="store-kine">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Kinesiologia</p>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <% @productos_kinesiologia.each_slice(3) do |slice| %>
                <div class="row">
                    <% slice.each_with_index do |item,idx| %>
                        <% if(idx == 0) %>
                            <div class="col-lg-3 col-lg-offset-1 images">

                        <% else %>
                            <div class="col-lg-3 images">
                        <% end %>
                                <%= image_tag  item.imagen.url(:small),size: item.imagen.image_size(:small) %>
                                <p class="title"><%= item.nombre %></p>
                                <p class="light">
                                    <%= raw(item.descripcion) %>
                                </p>
                            </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>


</div>


<div class="row" id="store-kine">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Masaje</p>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <% @productos_masaje.each_slice(3) do |slice| %>
                <div class="row">
                    <% slice.each_with_index do |item,idx| %>
                        <% if(idx == 0) %>
                            <div class="col-lg-3 col-lg-offset-1 images">

                        <% else %>
                            <div class="col-lg-3 images">
                        <% end %>
                                <%= image_tag  item.imagen.url(:small) %>
                                <p class="title"><%= item.nombre %></p>
                                <p class="light">
                                    <%= raw(item.descripcion) %>
                                </p>
                            </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>


</div>

<div class="row" id="store-kine">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Actividad Física y Salud</p>
    </div>
    <div class="container">
        <div class="col-lg-12">
            <% @productos_actividad.each_slice(3) do |slice| %>
                <div class="row">
                    <% slice.each_with_index do |item,idx| %>
                        <% if(idx == 0) %>
                            <div class="col-lg-3 col-lg-offset-1 images">

                        <% else %>
                            <div class="col-lg-3 images">
                        <% end %>
                                <%= image_tag  item.imagen.url(:small) %>
                                <p class="title"><%= item.nombre %></p>
                                <p class="light">
                                    <%= raw(item.descripcion) %>
                                </p>
                            </div>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>


</div>

<div class="row" id="team_bottom">
    <div class="container">
        <div class="col-lg-12">
            <center>
                <a href="/"><%= image_tag 'btn_home.png' %></a>
            </center>
        </div>
    </div>
</div>
