<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Viverelajacion - Kinesiología, Actividad Física y Estética</title>
    <meta name="description" content="Sociedad De Servicios Profesionales De Salud Morales E Hijo Limitada">
    <meta name="keywords" content="Kinesiología, Actividad Física, Recuperación, Masajes, Entrenamiento Personal">
    <meta name="author" content="Munki Studio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="Spanish" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,800' rel='stylesheet' data-turbolinks-track>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "main", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "application","data-turbolinks-track" => true %>

    <%= yield :javascript_extra %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <![endif]-->
    </head>
    <body>

         <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> alert alert-dismissable fade in">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= value %>
            </div>
        <% end %>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" data-no-turbolink><%=image_tag 'img_logo-header.png' %></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="home active"><a href="#portada" data-href="/" >Home </a></li>
                            <li class="service"><a href="#service_anchor" data-href="/service/kine">| Servicios </a></li>
                            <li class="equipo"><a href="/equipo">| Equipo </a></li>
                            <li class="tips"><a href="#tips" data-href="/tips">| Tips </a></li>
                            <li class="store"><a href="#promociones" data-href="/store">| Tienda </a></li>
                            <li><a href="#contacto" data-href="/#contacto" >| Contacto </a></li>
                        </ul>


                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

        <section id="content">
            <%= yield %>
        </section>

        <div class="loading-overlay">
            <div class="loading">
                <%= image_tag 'loading.gif', size: '100x100' %>
                <p>Cargando...</p>
            </div>
        </div>
        <footer>

            <div class="row" id="footer1">
                <div class="container">
                    <div class="col-lg-1 col-xs-5 col-sm-2">
                        <%= image_tag 'img_logo-footer.png' %>
                    </div>
                    <div class="col-lg-4 visible-lg visible-md visible-sm col-sm-4 col-md-4 col-xs-4" >
                        <p class="strong">Datos de contacto</p>
                        <p class="light">contacto@viverelajacion.cl
                            <br />(71) 221 2510
                            <br />Tres Norte 550 - Talca, Chile
                        </p>

                    </div>
                    <div class="col-lg-2 col-lg-offset-3 col-xs-5 col-sm-3 col-md-3 pull-right" >
                        <a href="https://www.facebook.com/viverelajaciontalca" class="facebook"></a>
                        <!-- <a href="#" class="twitter"></a> -->
                    </div>
                </div>
            </div>
            <div class="row" id="footer2">
                <div class="container">
                    <div class="col-lg-3 col-lg-offset-9 visible-lg visible-md visible-sm">
                        <p class="pull-right">Web creada por <a href="http://www.munki.cl" title="Munki Studio - Diseño y Desarrollo de Software">
                            <%= image_tag 'img_logomunki-footer.png'  %>
                        </a></p>

                    </div>
                    <div class="visible-xs">
                        <p >Web creada por <a href="http://www.munki.cl" title="Munki Studio - Diseño y Desarrollo de Software">
                        </a></p>
                    </div>
                </div>
            </div>

        </footer>


    </body>
</html>
